name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: "11"
          distribution: "temurin"
          cache: 'gradle'

      - name: Make gradlew executable
        run: chmod +x gradlew

      - name: Run SUT (Start App)
        # Убедитесь, что папка в репозитории называется именно "артефакты"
        run: java -jar артефакты/app-ibank-build-for-testers.jar &

      - name: Run tests
        # Эти флаги заставляют Selenide работать без открытия окна (headless)
        run: |
          ./gradlew clean test \
            -Dselenide.headless=true \
            -Dchromeoptions.args="--no-sandbox,--disable-dev-shm-usage"
