name: Java CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '11'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Install Chrome
        uses: browser-actions/setup-chrome@v1

      - name: Run SUT
        run: |
          nohup java -jar artifacts/app-ibank-build-for-testers.jar > app.log 2>&1 &
          sleep 7

      - name: Run tests
        run: ./gradlew clean test -Dselenide.headless=true

